.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

*~
.directory
.Trash-*
.nfs*

*.swp
*.swo
*.swn
*~
.*.sw[a-p]
Session.vim
.netrwhist

\#*\#
.\#*
*.elc
.emacs.desktop
.emacs.desktop.lock
auto-save-list/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

.idea/
*.iml
*.iws
*.ipr
cmake-build-*/

*.sublime-workspace
*.sublime-project

.\#*
*.bak
*.tmp
*.orig
nbproject/
.tags
tags
TAGS
