.gradle/
.kotlin/
**/build/
!gradle/wrapper/gradle-wrapper.jar

*.class
*.jar
*.war
*.ear
*.nar
*.jmod
*.hprof

hs_err_pid*
replay_pid*

.coverage/
.jacoco/
.scannerwork/
.sonar/
test-results/

.idea/
*.iws
*.iml
*.ipr
out/

.classpath
.project
.settings/
.externalToolBuilders/
.factorypath
.apt_generated/
.apt_generated_tests/
.metadata/
bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/
*.code-workspace

native-jni/compile_flags.txt

.env
.env.*
!.env.example
!.env.template
local.properties
*.local

*.log
*.tmp
*.temp
*.swp
*.swo
*~
.cache/
.tmp/
tmp/

.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

imgui.ini

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
